.cards {
    background: #f0e6d3;
    padding: 3rem;
  }
  
  .cards__item {
    background: #f0e6d3;
    display: flex;
    justify-content: center;
    border-radius: 12px;
  }
  
  .cards__item__box {
    display: flex;
    max-width: 60%;
    box-shadow: 0 6px 30px rgba(108, 49, 26, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 3px;
    text-decoration: none;
  }
  
  .cards__item__info {
    padding: 40px 30px 40px 40px;
  }
  
  .cards__item__text {
    color: rgb(26, 23, 23);
    font-size: 18px;
    line-height: 30px;
  }
  
  
